.calendarHead {
    display: flex;
    justify-content: space-between;
    height: 50px;
    padding: 10px 0;
    margin: 15px 0;
}


.calendarBtnWrapper {
    display: flex;
    justify-content: flex-end;
}